:root{
    --gray: #eaeaea;
    --dark-gray: #adadad;
    --light-black: #797979;
    --light-blue: #8edafc;
    --light-green: #d5f9ba;
    --body-dark-green: #009688;
    --body-gray: #dbdbd2;
    --light-gray: #F3EEEA;
    --white: #ffffff;

    --icon-size: 1.2em;

     
    

    
}

body{
    background: linear-gradient(var(--body-dark-green) 25%,var(--body-gray) 25%, var(--body-gray) 50%, var(--body-gray) 50%, var(--body-gray) 75%, var(--body-gray) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.fa-solid, .fa-regular{
    color: var(--dark-gray);
    font-size: var(--icon-size);
}

ul li, a, span{
    font-size: 12px;
}

ul li{
    list-style: none;
}

img{
    width: 30px;
    display: block;
}
.circle{
    overflow: hidden;
    border-radius: 50%;
}
.circle-icon{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: var(--light-blue);
}




.wrapper{
    width: 100%;
    height: 100%;   
}
#left{
    overflow-y: auto;
}

#right section{
    height: calc(80vh - 80px);
    overflow-y: auto;
}
#app{
    margin: 0 auto;
    width: 1400px;
    height: 80vh;
}






.you-user{
    width: 100%;
    height: 40px;
    background-color: var(--gray);
}
.notifications{
    width: 100%;
    height: 50px;
    background-color: var(--light-blue);
}

.input-sm{
    height: 25px;
}
.input-md{
    height: 33px;
}



/* color - background */
.bg-white{
    background-color: var(--white);
}
.bg-gray{
    background-color: var(--gray);
}
.bg-right-img{
    background-image: url("../img/mine.jpg");
}
.light-black{
    color: var(--light-black);
}

/* hover effects */
.hover:hover{
    background-color: var(--gray);
}


.send{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.received{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: start;
    
}
.send div:nth-child(1){
    background-color: var(--light-green);
    width: fit-content;
    border-radius: 0.5em;

}
.received div:nth-child(1){
    background-color: var(--white);;
    width: fit-content;
    border-radius: 0.5em;
}

select{
    width: 0 !important;
}





@media screen and (max-width: 576px) {
    #right section{
        height: calc(100vh - 80px);
        overflow-y: auto;
    }
    #app{
        margin: 0 auto;
        width: 1400px;
        height: 100vh;
    }
  }