:root{
    --gray: #eaeaea;
    --dark-gray: #adadad;
    --light-black: #797979;
    --light-blue: #8edafc;
    --light-green: #d5f9ba;
    --body-dark-green: #009688;
    --body-gray: #dbdbd2;
    --light-gray: #F3EEEA;
    --white: #ffffff;

    --icon-size: 1.2em;

     
    

    
}

body{
    background: linear-gradient(var(--body-dark-green) 25%,var(--body-gray) 25%, var(--body-gray) 50%, var(--body-gray) 50%, var(--body-gray) 75%, var(--body-gray) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.fa-solid, .fa-regular{
    color: var(--dark-gray);
    font-size: var(--icon-size);
}

ul li, a, p, label,  span{
    font-size: 15px;
}

ul li{
    list-style: none;
}

img{
    width: 30px;
    display: block;
}
.circle{
    overflow: hidden;
    border-radius: 50%;
}
.circle-icon{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: var(--light-blue);
}




.wrapper{
    width: 100%;
    height: 100%;   
}
#left{
    overflow-y: auto;
}

#right section{
    height: calc(100% - 100px);
    overflow-y: auto;
}
#app{
    margin: 0 auto;
    width: 1500px;
    height: 80vh;
}

 






.you-user{
    width: 100%;
    height: 50px;
    background-color: var(--gray);
}
.notifications{
    width: 100%;
    height: 50px;
    padding: 35px 12px 35px 12px ;
    background-color: var(--light-blue);
}

.input-sm{
    height: 32px;
}
.input-md{
    height: 40px;
}



/* color - background */
.bg-white{
    background-color: var(--white) !important;
}
.bg-light-green{
    background-color: var(--light-green) !important;
}
.bg-gray{
    background-color: var(--gray);
}
.bg-right-img{
    background-image: url("../img/mine.jpg");
}
.light-black{
    color: var(--light-black);
}

/* hover effects */
.hover:hover{
    background-color: var(--gray);
}


.send{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.received{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: start;
    
}

.select-container{
    right: -7px;
    top: -7px;
    width: 20px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}


.send div:nth-child(1){
    background-color: var(--light-green);
    width: fit-content;
    max-width: 300px;
    border-radius: 0.3em;

}
.received div:nth-child(1){
    background-color: var(--white);;
    width: fit-content;
    max-width: 300px;
    border-radius: 0.3em;
}

select{
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0; 
}


.first-chat{
    background-color: #8ed9fca6;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}




@media screen and (max-width: 576px) {
    #right section{
        height: calc(100vh - 80px);
        overflow-y: auto;
    }
    #app{
        margin: 0 auto;
        width: 1400px;
        height: 100vh;
    }
    .fixed{
        position: fixed;
        bottom: 0;
    }
    #right section{
        height: calc(100% - 50px);
         
    }
  }