<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <div id="app">
      <div class="wrapper d-flex container p-0 shadow">
        <section id="left" class="bg-white border border-top-0 border-secondary-subtle col-12 col-sm-5 " :class="visible ? 'd-none d-sm-block':''">
            <section>
                <div class="you-user d-flex justify-content-between align-items-center p-2">
                    <ul class="p-0 m-0 d-flex align-items-center">
                        <li class="circle me-2"><img src="./img/avatar_io.jpg" alt=""></li>
                        <li class="fw-bold">Sofia</li>
                    </ul> 
                    <ul class="p-0 m-0 d-flex">
                        <li><a href="#"><i class="fa-solid fa-rotate-right"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-message ms-3"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-ellipsis-vertical ms-3 me-2"></i></a></li>
                    </ul>
                </div>
                <div class="notifications d-flex align-items-center">
                    <ul class="p-0 m-0 d-flex align-items-center">
                        <li v-if="!notification" class="circle-icon bg-white me-2"><i class="fa-solid fa-bell-slash"></i></li>
                        <li v-else class="circle-icon bg-white me-2"><i class="fa-solid fa-bell"></i></li>
                        <li>
                            <span class="d-block">Ricevi notifiche di nuovi messaggi</span>
                            <span v-if="!notification" class="d-block"><a href="#" @click="notification = true">Attiva notifiche desktop</a></span>
                            <span v-else class="d-block"><a href="#" @click="notification = false">Disattiva notifiche desktop</a></span>
                        </li>
                    </ul>  
                </div>
            </section>
            <section>
                <div class="p-2">
                    <div class="input-group input-group-sm mb-3 mt-3">
                        <span class="input-group-text input-md rounded-start-1" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control input-md rounded-end-1 border border-light-subtle" placeholder="Cerca o inizia una nuova" v-model="usersFilter" @keyup="searchFilter">
                    </div>
                </div>
            </section>
            <section class="list-chat">
                <div>
                    <div class="ps-2 pe-2">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <a v-if="!addUser" class="m-0" @click="addContact"><i class="fa-solid fa-plus fs-1"></i></a>
                            <a v-else class="m-0" @click="addContact"><i class="fa-solid fa-minus fs-1"></i></a>
                        </div>
                        <div v-if="addUser">
                            <form>
                                <div class="input-group-sm mb-3">
                                    <label for="nameUser" class="form-label fw-bold">Nome Contatto</label>
                                    <input type="text" class="form-control input-md border border-light-subtle d-inline-block w-75" v-model="newContact">
                                    <button type="button" class="btn btn-primary input-md align-baseline ms-1" @click="saveContact">Salva</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div v-for="(items, index) of contacts" :key="items.id" @click="clickList(items, items.id)" :class="{'d-none' : !items.visible, 'd-block' : items.visible}">
                        <div class="border border-bottom-0 border-end-0 border-light-subtle hover" :class="index === current ? 'bg-gray' : ''">
                            <ul class="p-0 m-0 d-flex justify-content-between align-items-center p-2">
                                <li class="d-flex align-items-center">
                                    <span class="d-block circle me-2"><img :src="items.avatar" alt="items"></span>
                                    <div>
                                        <div>
                                            <span class="d-block fw-bold">{{items.name}}</span>
                                        </div>
                                        <div>
                                            <span class="text-body-tertiary">{{sliceLastMessage(index)}}</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div v-for="(data, index) in items.messages">
                                        <p v-if="index === items.messages.length - 1" class="text-body-tertiary">{{data.date.slice(10, 16)}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>

 




        <section id="right" class="bg-right-img col-12 col-sm-7 d-sm-block" :class="visible ? 'd-block':'d-none'">
            
                <div class="you-user d-flex justify-content-between align-items-center">
                    <ul class="p-0 m-0 d-flex align-items-center">
                        <li v-if="visible" class="d-sm-none" @click="returnChat"><i class="fa-solid fa-chevron-left ps-3 pe-3"></i></li>
                        <li class="circle me-2"><img :src="contacts[current].avatar" alt=""></li>
                        <li>
                            <span class="d-block fw-bold text-dark">{{contacts[current].name}}</span>
                            <span class="text-body-tertiary" v-if="!writingStatus">Ultimo accesso: {{contacts[current].messages[contacts[current].messages.length - 1].date.slice(10, 16)}}</span>   
                            <span class="text-body-tertiary" v-else>{{writing}}</span>   
                        </li>
                    </ul>
                    <ul class="p-0 m-0 d-flex">
                        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-paperclip ms-3"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-ellipsis-vertical ms-3 me-2"></i></a></li>
                    </ul>
                </div>
            
                
            <section>
                    <div class="p-3">
                        <div :class="newConversation ? 'd-block':'d-none'" class="first-chat">
                            <p class="text-center ps-2 pe-2">Inizia una nuova conversazione con: {{contacts[current].name}}</p>
                        </div>
                    </div>
                    <div v-for="(items, index) in contacts[current].messages" ref="scroll">
                        <div>
                            <div v-if="items.message.length === 0 ? newConversation = true : newConversation = false "></div>
                            <div :class="{'send': items.status === 'sent', 'received': items.status === 'received' } ">
                                <div class="position-relative" :class="items.message.length === 0 ? 'd-none':''">
                                    <div class="p-2 shadow">
                                        <div class="w-100">
                                            <div class="mt-1">
                                                <a class="pos-abs-chevron position-absolute"><i class="fa-solid fa-chevron-down p-1" @click="items.drop = !items.drop" :class="{'rotate':items.drop }"></i></a>
                                                <ul class="p-0 m-0 bg-white rounded-2 position-absolute pos-abs-drop shadow" :class="{'d-none': !items.drop}">
                                                    <li class="ps-3 pe-3 pt-1 pb-1 text-danger hover border-bottom" @click="deleteMessage(index)">Elimina</li>
                                                    <li class="ps-3 pe-3 pt-1 pb-1 hover" @click="items.check = !items.check">Spunta</li>
                                                </ul>
                                                <a :class="{'d-none': !items.check}" class="pos-abs-heart position-absolute"><i class="fa-solid fa-heart p-1 text-danger"></i></a>
                                                <p class="mt-2 p-0">{{items.message}}</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="w-100 mt-2">
                                                <p class="text-end m-0 p-0 text-body-tertiary">{{items.date}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="d-flex justify-content-center align-items-center you-user p-2 fixed">
                <div class="me-4">
                    <a href="#"><i class="fa-regular fa-face-smile light-black"></i></a>
                </div>
                <div class="w-75">
                    <input class="form-control input-md" type="text" placeholder="Default input" v-model="messageText" @keyup.enter="messageSent">
                </div>
                <div class="ms-4">
                    <a href="#"><i class="fa-solid fa-microphone light-black"></i></a>
                </div>
            </div>

            
            


        </section>
      </div>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>